@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* Preface */
body [xml|lang]{
	font-style: italic;
}

cite{
	font-variant: small-caps;
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}
/* End preface */

/* Poem */
[epub|type~="z3998:poem"] header{
	/* styling for stanza numbers */
	display: block;
	font-variant: small-caps;
	margin: 2em 0 1em 0;
	text-align: center;
}

[epub|type~="z3998:poem"] header + p{
	/* adjusts spacing between number and stanza */
	margin: 0;
}

[epub|type~="z3998:poem"] p{
	display: inline-block;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

span > span:first-child{
	/* styling for caesuras */
	margin-right: 1.5em;
}
/* End poem */
