@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

body [xml|lang]{
	font-style: italic;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:poem"] header p{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

[epub|type~="z3998:poem"]{
	text-align: center;
}

[epub|type~="z3998:poem"] p{
	display: inline-block;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

span > span:first-of-type{
	/* styling for caesuras */
	margin-right: 1.5em;
}
